
@{
    ViewBag.Title = "PatientPage";
    Layout = "~/Views/Shared/_patientLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="row-sm-4">
            <h3>Disease 1</h3>
            <hr />
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            <hr />
        </div>
        <div class="row-sm-4">
            <h3>Disease 2</h3>
            <hr />
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            <hr />
        </div>
        <div class="row-sm-4">
            <h3>Disease 3</h3>
            <hr />
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            
        </div>
    </div>
</div>
