
@{
    ViewBag.Title = "HepatitisB";
    Layout = "~/Views/Shared/_patientLayout.cshtml";
}

<h2>HepatitisB</h2>


<h2>Answer Flowing Questions</h2>
<div class="form-group" />
<label>Question 1: aaaaaaaaaaaaaaaaaaaaaaaa</label>
<div class="radio">
    <label>
        <input type="radio" name="optradio">Option 1
    </label>
</div>
<div class="radio">
    <label>
        <input type="radio" name="optradio">Option 2
    </label>
</div>
<div class="radio disabled">
    <label>
        <input type="radio" name="optradio" disabled>Option 3
    </label>
</div>
<div class="form-group">
    <label>Question 2: bbbbbbbbbbbbbbbbbbbbbbbbb</label>
    <div class="radio">
        <label>
            <input type="radio" name="optradio">Option 1
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="optradio">Option 2
        </label>
    </div>
    <div class="radio disabled">
        <label>
            <input type="radio" name="optradio" disabled>Option 3
        </label>
    </div>
</div>

<div class="form-group">
    <label>Question 3: ccccccccccc</label>
    <div class="radio">
        <label>
            <input type="radio" name="optradio">Option 1
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="optradio">Option 2
        </label>
    </div>
    <div class="radio disabled">
        <label>
            <input type="radio" name="optradio" disabled>Option 3
        </label>
    </div>
</div>
<div>
    <button type="submit">Check</button>
</div>
